* {
  margin: 0;
}

/* HEADER & NAVBAR */
.header {
  background-color: gray;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos,
.ul-list {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav li {
  text-decoration: none;
  padding-left: 15px;
}

/* BANNER */
.banner {
  color: white;
  background-image: url('image/background.jpg'), linear-gradient(rgb(106, 103, 103), rgb(69, 65, 65));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* SERVICES SECTION*/
.service-section {
  height: 100vh;
  background-color: black;
  position: relative;
  /* using relative position to overlap the appointment box */
}

.service-info {
  display: flex;
  justify-content: space-around;
  height: 77%;
  align-items: center;
}

.service-contents {
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  /* align-items: center; */
}

.author-details {
  display: flex;
  align-items: center;
  gap: 4px;
}

.author-details img {
  border-radius: 50%;
}

.author-and-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .author-and-btn hr {
  width: 100%;

}

.hr-property {
  display: flex;
  flex-direction: column;
  background: red;
} */
.hr-border {
  padding-right: 30px;
  border-right: 1px solid red;
}

.service-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.box {
  background-color: white;
  width: 200px;
  height: 170px;
  text-align: center;
  row-gap: 5px;
  column-gap: 7px;
  padding: 20px;
  margin: 5px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.service-boxes img {
  width: 70px;
}

/* MAKE APPOINTMENT BOX SECTION STYLE STARTS */
.make-appointment-box {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  background-color: red;
  height: 140px;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: aliceblue;
  border: 0;
  position: absolute;
  /* using absolute position to this box to make overlap within the relative service box */
  bottom: -70px;
}

.phone-contact {
  display: flex;
}

/* MAKE APPOINTMENT BOX SECTION STYLE ENDS */

/* BLOOG BOXES */
.blog-sec {
  margin-top: 100px;
  height: 70vh;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.blogbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog-box {
  width: 250px;
  height: 310px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 7px;
}

.blog-box img {
  width: 100%;
  border-radius: 5px;
}

/* FOOTER STYLE */
footer {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 70px;
  height: 70vh;
  background-image: url('image/footer-bg.png'), linear-gradient(rgb(20, 17, 17), rgb(6, 3, 3));
  background-blend-mode: overlay;
  color: aliceblue;
}

.foot-icons img {
  width: 16px;
}

.foot-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-col4,
.foot-col3,
.foot-col2,
.foot-col1 {
  display: flex;
  flex-direction: column;
}

.foot-items h4 {
  padding-bottom: 25px;
}

.footer-foot {
  text-align: center;
  padding: 10px auto;
  margin-top: 20px;
}